<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <connectionStrings>
    <add name="db.connection" connectionString="Data Source=DEJAN-PC\SQLEXPRESS;Initial Catalog=NORTHWND;Integrated Security=False;User id=sa;Password=sa;"/>
  </connectionStrings>
<appSettings>
  
</appSettings>
</configuration>
